* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    flex-direction: column;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background: #F6F1ED;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #F6F1ED;
    padding: 5px;
    font-weight: bolder;
    gap: 250px;
    height: 11vh;
    width: 100%;
    z-index: 5;
}

.logo > img {
    width: 100px;
    padding-top: 5px;
}

.list ul {
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: flex;
}

.list li {
    line-height: 40px;
    margin: 15px;
    list-style: none;
}

.list li a {
    color: #000;
    display: inline;
    text-decoration: none;
}

.list li a:hover, .list li a:active {
    color: #CBA044;
    border-bottom: 2px solid #CBA044;
}

#book {
    color: #fff;
    background-color: #CBA044;
    padding: 10px 25px;
}

#book:hover {
    color: #1C1D21;
    outline: 2px solid #CBA044;
    border-bottom: none;
    background-color: transparent;
    cursor: pointer;
}

body nav {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image {
    text-align: center;
    margin-top: 120px;
}

.image > img {
    width: 85%;
    height: 500px;
}

.wrap {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 85%;
    padding: 20px;
    margin: 50px auto;
}

span {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

h2 {
    color: #CBA044;
}

.hotel-price {
    color: #1C1D21;
}

h3 {
    color: #980000;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

ul li {
    margin-left: 20px;
    padding: 5px;
}

section {
    display: flex;
    background-color: #fff;
    margin: 0px auto;
    padding: 20px;
    width: 85%;
}

.all-pix {
    display: flex;
    gap: 100px;
    margin-top: 50px;
    margin-left: -120px;
}

.pix {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first-p {
    margin-left: 20px;
    margin-top: 10px;
}

.second-p {
    position: relative;
    top: 20px;
    left: -70px;
}

.third-p {
    position: relative;
    top: 20px;
    left: 20px;
}

.last-p {
    position: relative;
    top: 20px;
    left: -30px;
}

.done > img {
    width: 45px;
    height: 45px;
}

.btn {
    padding: 20px 65px;
    text-align: center;
    color: #fff;
    background-color: #CBA044;
    border: none;
    text-decoration: none;
    font-weight: bold;
    width: 250px;
    margin-top: 20px;
    margin-left: 101px;
    font-size: 20px;
}

.btn:hover, #btn:active {
    background-color: transparent;
    border: 2px solid #CBA044;
    color: #1C1D21;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #1C1D21;
    padding: 40px;
    gap: 650px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 0px;
}

.hotel-logo > img {
    width: 100px;
    height: auto;
}

.link {
    display: flex;
}

.link a {
    font-size: 45px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
}

.link a:hover {
    color: #CBA044;
}