@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    flex-direction: column;
    /* font-family: sans-serif; */
    padding: 0;
    margin: 0;
    background-color: #F6F1ED;
    width: 100%;
    font-family: 'Poppins, sans-serif';
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #F6F1ED;
    padding: 5px;
    font-weight: bolder;
    gap: 250px;
    height: 11vh;
    width: 100%;
    z-index: 5;
}

.logo > img {
    width: 100px;
    margin-top: 15px;
}

.list ul {
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: flex;
}

.list li {
    line-height: 40px;
    margin: 15px;
    list-style: none;
}

.list li a {
    color: #000;
    display: inline;
    text-decoration: none;
}

.list li a:hover, .list li a:active {
    border-bottom: 2px solid lightseagreen;
}

#book {
    color: #fff;
    background-color: lightseagreen;
    padding: 10px 25px;
}

#book:hover {
    color: #1C1D21;
    outline: 2px solid lightseagreen;
    border-bottom: none;
    background-color: transparent;
    cursor: pointer;
}

.coast nav {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #1C1D21;
    border-radius: 10px;
}

.book {
    color: #fff;
    background-color: lightseagreen;
    padding: 10px 25px;
    text-decoration: none;
}

.book:hover {
    color: #707070;
    background-color: transparent;
    border: 2px solid lightseagreen;
}

.hotel-price {
    color: lightseagreen;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F6F1ED;
}

.head {
    display: flex;
    color: lightseagreen;
    margin: 100px 80px;
    text-align: center;
}

.first-container {
    display: flex;
    align-items: center;
    margin-top: -70px;
    margin-bottom: 90px;
    position: relative;
    width: 100%;
}

.image {
    width: 50%;
    margin-left: 80px;
}

.image > img {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #fff;
    flex-direction: column;
    width: 50%;
    padding: 40px;
    font-weight: bold;
}

.second {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 20vh;
}

h2 {
    margin: 20px 5px;
    color: lightseagreen;
}

section {
    background-color: #F6F1ED;
    margin: auto;
    margin-top: -10px;
    width: 95%;
    height: 2px;
    margin-bottom: 5px;
}

.container p {
    color: #707070;
    font-weight: bolder;
    margin: 3px;
}

.last {
    display: flex;
    justify-content: space-between;
}

span {
    margin-top: 25px;
}

.span a {
    color: #fff;
    background-color: lightseagreen;
    border: none;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #1C1D21;
    padding: 40px;
    gap: 650px;
}

.hotel-logo > img {
    width: 120px;
    margin-top: 25px;
}

.link {
    display: flex;
    margin-top: 12px;
}

.link a {
    font-size: 35px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
}

.link a:hover {
    color: lightseagreen;
}

@media (max-width: 375px) {

    .coast {
        margin: 5px 10px;
    } 

    .coast nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
        width: 100%;
        z-index: 5;
        padding-top: 25px;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    .toggle-button {
        display: flex;
        margin-top: 18px;
    }

    .list {
        display: none;
        width: 100%;
    }

    .logo > img {
        width: 70px;
        margin-top: -70px;
        margin-left: 10px;
    }

    .list ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #F6F1ED;
        top: 80px;
        left: 0;
        flex-direction: column;
    }

    .list li {
        text-align: center;
    }

    .list li a {
        padding: .5rem 1rem;
    }

    a:hover {
        color: #CBA044;
    }

    .list.active {
        display: flex;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .head {
        margin-left: 10px;
    }

    .first-container {
        display: flex;
        width: 100%;
        position: relative;
    }

    .image {
        display: flex;
        width: 100%;
        margin-left: 10px;
    }

    .image > img {
        width: 250px;
        height: 130px;
    }

    .second {
        display: flex;
        justify-content: center;
        background-color: #fff;
        width: 40px;
        position: absolute;
        left: 85px;
    }

    h2 {
        font-size: 12px;
    }

    .second p {
        font-size: 12px;
    }

    .last {
        display: flex;
        justify-content: space-between;
    }








    footer {
        display: flex;
        justify-content: space-between;
    }

    .hotel-logo {
        display: flex;
    }

    .hotel-logo > img {
        width: 70px;
        height: 40px;
        margin-left: -20px;
    }
    
    .link {
        display: flex;
        margin-right: -30px;
    }
    
    .link a {
        font-size: 25px;
        margin: 10px;
        color: #fff;
        cursor: pointer;
    }
}